.footer {
    border: 4px solid red;
    display: flex;
    justify-content: space-between;
    
}
.footer__title {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    height: 32px;
    align-self: flex-end;
    border: 4px solid red;

}

.footer a {
    // border: 4px solid red;
    display: inline-block;
    margin: 0 .2em;
}

.footer__icon-container {
    border: 4px solid red;
}

@media (max-width: 614px) {
    .footer {
        flex-direction: column-reverse;
        align-items: center;
    }

}

@media (max-width: 614px) {
    .footer__title {
        align-self: center;
    }
}


