.fieldset-container {
    overflow: hidden;
}

html:hover .form-container {
    transform: translateY(0);
}

.fieldset-container__title {
    text-align: center;
}

.form-container {
    width: 50%;
    margin: 5% auto;
    text-align: center;
    border: 4px solid red;
    transform: translateY(100%);
    transform-origin: bottom;
    transition-duration: 2s;
}

.form-container__name {
    margin-top: 1em;
}

.form-container__price, 
.form-container__stock,
.form-container__brand {
    display: inline-block;
    margin: 1em .5em;
    // border: 4px solid red;
}

.form-container__category {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    // border: 4px solid red;
}

.form-container__category-selection {
    width: 80%;
}

.form-container__warranty {
    // border: 4px solid red;
    width: 60%;
    margin: 0 auto 1em;
}

.form-container__picture {
    // border: 4px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.form-container__picture-input {
    // border: 4px solid red;
    margin-left: 10%;
}

.form-container__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 4px solid red;
    margin-bottom: 1em;
}

.form-container__product-description {
    resize: none;
    width: 80%;
    height: 10em;
}

.form-container__shipping {
    // border: 4px solid red;
    margin: 1em;
}

.form-container__submit {
    border: 4px solid red;
    width: 8em;
    height: 3em;
    border-radius: 5px;
    margin-bottom: 1em;
}

@media (max-width: 440px) {
    .form-container__name-input,
    .form-container__price-input,
    .form-container__brand-selection,
    .form-container__category-selection {
        width: 80%;
    }
}

@media (max-width: 540px) {
    .form-container__picture-input {
        width: 80%;
    }

}



