
.card {
    /* outline: none; */
    /* flex-grow: 1; */
    /* overflow: hidden; */
    /* background-color: green; */
    /* transition: all 1s linear; */
    perspective: 1000px;

    &__article {
        width: 220px;
        max-width: 300px;
        height: 400px;
        /* overflow: hidden; */
        display: flex;
        flex-direction: column;
        position: relative;
        transition: all 1.5s linear;
        transform-style: preserve-3d;
        /* border: 9px solid green; */
    }

    &__image-container {
        position: absolute;
        z-index: 2;
        backface-visibility: hidden;
        /* border: 4px solid red; */
    }

    &__image {
        object-fit: cover;
        position: relative;
    }

    &__image-container::after {
        content: " ";
        border: 1em solid lightgrey;
        border-radius: 15px;
        position: absolute;
        bottom: 1em;
        left: 2.3em;
        right: 2.3em;
        opacity: .2;   
    }

    &__content {
        background: lightgrey;
        position: absolute;
        z-index: 1;
        transform: rotateY(180deg);
    }
    
    &__image-container,
    &__content,
    &__image {
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }

    &:hover .card__article {
        transform: rotateY(180deg);
    }
    
}

.card__image-description {
    // border: 4px solid red;
    text-align: center;
    color: lightgrey;
    opacity: .9;
    position: absolute;
    z-index: 3;
    bottom: 1.4em;
    left: 2em;
    right:  2em;
}

.card__content {
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




    

}

.card__description-product {
    color: lightgray;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    text-align: justify;
    padding: 0 .6em 0;
    // border: 4px solid red;
}


.card__content::after {
    content: " ";
    border: 1em solid lightgrey;
    border-radius: 15px;
    position: absolute;
    bottom: 1em;
    left: 2.3em;
    right: 2.3em;
    opacity: .2;   
}

.card__description-review {
    // border: 4px solid green;
    // text-align: center;
    margin-top: 1.5em;
    position: absolute;
    bottom: 45px;
    left: 85px;
    
}

.card__description-review::after {
    content: "review";
    color: #A7A7A7;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: 48px;
    left: 1px;
    display: none;
}

.card__description-review:hover::after {
    display: block;
}


.card__heading {
    text-align: center;
    margin: .4em 0 .6em;
}

.card__description-price {
    // border: 4px solid green;
    font-weight: 600;
    text-align: center;
    position: absolute ;
    bottom: -1.4em;
    left: -2.2em;
    right: -2.2em;
}